        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galerii <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.baseurl }}/galerii/lilled">Lilled</a></li>
            <li><a href="{{ site.baseurl }}/galerii/abstraktsed">Abstraktsed</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/galerii/maalid">Maalid</a></li>
            <li class="divider"></li>
            <li><a href="{{ site.baseurl }}/galerii/eksliibrised">Eksliibrised</a></li>
          </ul>
        </li>
